# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# RStudio files
.Rproj.user/
predicto.Rproj

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md
.Rproj.user

# Folders
output/
work/
rsconnect/

# big csv files
2015 1st quarter.csv
2015 2nd quarter.csv
2015 3rd quarter.csv
2015 4th quarter.csv
2015 all.csv


